[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
psycopg2-binary = "*"
aiofiles = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
